.task1{
    display: flex;
    justify-content: space-between;
}
.task2{
    display: flex;
}
.task3{
    gap: 15px;
    display: flex;
    list-style: none;
    padding-top: 25px;
}
.task4{
    margin-left: 30px;
    padding-top: 25px;
    margin-right: 30px;
}
.big-task{
    gap: 15px;
    padding-top: 25px;
}
.task5{
    margin-right: 10px;
}
.task6{
    background-color: black;
    color: white;
}
.task7{
    display: grid;
    padding-top: 20px;
    padding-left: 100px;
    grid-template-columns: 1fr 1fr 1fr ;
}
.task8{
    margin-top: 50px;
}
.task9{
    margin-top: 50px;
}
.task10{
    margin-top: 50px;
}
.task11{
    display: block;
    margin-bottom: 15px;
}
.task12{
    display: block;
    margin-bottom: 15px;
}
.task13{
    display: block;
    margin-bottom: 15px;
}
.task15{
    display: block;
    margin-bottom: 15px;
}
.task16{
    display: block;
    margin-bottom: 15px;
}
.task17{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.task18{
    padding: 10px;
    padding-left: 50px;
    text-align: center;
    padding-right: 80px;
}
.big-tasks{
    border: 50px;
    text-align: center;
    align-items: center;
    border-radius: 100px;
    justify-content: center;
}
.task19{
    display: flex;
}
.task20{
    display: flex;
}
.task21{
    display: flex;
}
.task22{
    display: flex;
}
.task23{
    display: flex;
}
.task24{
    display: flex;
}
.task25{
    display: flex;
}